<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>545671732262-e5410for1108rn9v0acfiruq4ta2aags.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545671732262-e5410for1108rn9v0acfiruq4ta2aags</string>
	<key>API_KEY</key>
	<string>AIzaSyCZkNm32POgzu19VWLuXrci186vADTVsas</string>
	<key>GCM_SENDER_ID</key>
	<string>545671732262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SPI.HC-Sports</string>
	<key>PROJECT_ID</key>
	<string>hc-sports</string>
	<key>STORAGE_BUCKET</key>
	<string>hc-sports.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545671732262:ios:1b479904a6978b83</string>
	<key>DATABASE_URL</key>
	<string>https://hc-sports.firebaseio.com</string>
</dict>
</plist>